* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.box {
    background: white;
    width: 320px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 15px;
}

button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}

.error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}
